<!-- Collect tags from all posts -->
{%- assign tags = blank -%}
{%- for post in site.posts2 -%}
  {%- assign post2_tags = post2.tags | join:'|' | append:'|' -%}
  {%- if post2_tags != '|' -%}
    {%- assign tags = tags | append:post2_tags -%}
  {%- endif -%}
{%- endfor -%}
{%- assign tags = tags | split:'|' | uniq | sort -%}

<!-- List tags & related posts -->
{% for tag in tags %}
<div class="py-3">
  <h4 id="{{ tag | slugify }}">{{ tag }}</h4>
  <ol>
  {% for post in site.posts2 %}
    {%- if post2.tags contains tag -%}
      {%- if post2.external_url -%}
        {%- assign url = post2.external_url -%}
      {%- else -%}
        {%- assign url = post2.url | relative_url -%}
      {%- endif -%}
    <a href="{{ url }}"><li>{{ post2.title }}</li></a>
    <small class="text-muted"> - {{ post2.date | date_to_long_string }}</small>
    <br/>
    {%- endif -%}
  {% endfor %}
  </ol>
</div>
<hr class="bg-light">
{% endfor %}
